*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.eventos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0095f8;
    height: 100vh;
    width: 100vw;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.formulario h1{
    font-size: 24px ;
    color: #fff;
}
.formulario form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1em;
    background-color: #eeeeee;
    border-radius: 1em;
    width: 350px;
    height: 200px;
    filter: drop-shadow(0 0 0.5em #ffffff);
}

.formulario input{
    width: 100%;
    padding: 10px;
    border: 2px solid  #0095f8;
    border-radius: 15px;
}
.formulario input[type="submit"]{
    background-color: #0095f8;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

hr{
    width: 500px;
    position: relative;
    top: 20px;
    box-shadow: 0 0 0.5em #ffffff;
}